@import "../main.scss";

.our-network-wrapper {
  display: flex;
  margin: 3rem auto;
  .wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .caption {
      width: 50%;
      margin: auto;
      text-align: center;
      color: $fontColor2;

      @media screen and (max-width: 1100px) {
        width: 90%;
      }
      .main-caption {
        font-size: $fs1;
        font-weight: 600;
      }
      .secondary-caption {
        font-weight: 300;
        font-size: $fs2;
      }
    }
    .map {
      display: flex;
      width: 90%;
      margin: 3rem auto;
      img {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    }
  }
}
