.cta-btn {
  padding: 0.65rem 2.5rem;
  color: $fontColor3;
  background-color: transparent;
  border: 1px solid $fontColor4;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 500;
  font-size: 0.9rem;
}

.nav-btn {
  @media screen and (max-width: 1100px) {
    padding: 0;
    border: 0;
    margin-top: 1.5rem;
  }
}
.cta-btn2 {
  padding: 1rem 3.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  // max-width: fit-content;
  min-width: fit-content;
  color: #fff;
  box-shadow: 0px 45px 54px -5px rgb($fontColor4, 0.35);
  background-color: $fontColor4;

  @media screen and (max-width: 1100px) {
    margin-top: 1.5rem;
  }
}
